/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

/* Body */
body {
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Image Container */
.image-container {
  width: 47rem;
  overflow: hidden;
  position: relative;
}

/* Images */
.images {
  display: flex;
  gap: 1rem;
}

.images img {
  width: 15rem;
}

/* Animations */
.animation-left {
  animation: scroll-left 2s forwards;
}

@keyframes scroll-left {
  to {
    margin-left: -48rem;
  }
}

.animation-right {
  animation: scroll-right 2s forwards;
}

@keyframes scroll-right {
  from {
    margin-left: -48rem;
  }

  to {
    margin-left: 0rem;
  }
}

/* Buttons */
.buttons {
  display: flex;
  gap: 49rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons button {
  background-color: #fe6753;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  flex-shrink: 0;
}
