/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

/* Body */
body {
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Gallery */
.gallery {
  position: relative;
  padding-inline: 4rem;
}

/* Image Container */
.image-container {
  width: 49rem;
  overflow: hidden;
}

/* Images */
.images {
  display: flex;
  gap: 1rem;
  padding: 2rem 1rem;
  margin-left: 0;
}

img {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 0.5s;
  width: 15rem;
}

img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  transform: scale(1.1);
}

/* Animations */
.animation-left {
  animation: scroll-left 2s forwards;
}

@keyframes scroll-left {
  to {
    margin-left: -48rem;
  }
}

.animation-right {
  animation: scroll-right 2s forwards;
}

@keyframes scroll-right {
  from {
    margin-left: -48rem;
  }

  to {
    margin-left: 0rem;
  }
}

/* Buttons */
.left-btn,
.right-btn {
  background-color: #fe6753;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-block: auto;
}

.left-btn {
  left: 0;
}

.right-btn {
  right: 0;
}
