/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

body {
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Gallery Container */
.gallery-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

/* Galley */
.gallery {
  width: 50rem;
  display: flex;
  overflow-x: scroll;
  padding: 1rem;
  gap: 1rem;
  scroll-behavior: smooth;
}

.gallery::-webkit-scrollbar {
  display: none;
}

/* Gallery Images */
.images {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  flex: none;
}

.images img {
  filter: grayscale(1);
  filter: gray;
  -webkit-filter: grayscale(1);
  transition: all 1s;
}

.images img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  transform: scale(1.1);
}

/* Gallery Buttons */
.gallery-container button {
  width: 3rem;
  height: 3rem;
  background-color: #fe6753;
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  color: #fff;
}
